body {
	background-color: #34495e;
}
.form-connexion table td {
	padding: 40px;
	background-color: #16a085;

}
.form-connexion table {
	margin-left: 200px;
	margin-top: 50px;
	box-shadow: 4px 3px 2px #ecf0f1;
}
.form-connexion input[type='password'] , input[type='number'] {
	width: 480px;
	border-top: none;
	border-left: none;
	border-bottom: 2px solid #8e44ad;
	color: #16a085;
}
.form-connexion table input[type='submit'] {
	border : none;
	width: 250px;
	height: 70px;
	cursor: pointer;
	background-color: #3498db;
	color: white;
	font-size: 40px;
}


.form-connexion table input[type='submit']:hover {
	box-shadow: 30px 20px 20px #e74c3c;
}